@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GIf Search</h1>
<p> Search for gifs!</p>
</div>



    <div>
        <div>
            <form method="post">

                <input class="form-control, text-center" id="QueryU" name="QueryU" type="text" />

                <input class="btn btn-info" type="button" id="search" name="search" value="Search" />
            </form>
        </div>
    </div>
<!--store results here-->
    <div class="row text-center" id="gifResults">


    </div>







@section scripts
{
    <script type="text/javascript" src="~/Scripts/gifSCript.js"></script>
}

