@{
    ViewBag.Title = "REGINALDS";
}

<div class="jumbotron">
    <h1>Reginald's Ancient Antiquities Auction House</h1>
    <p class="lead">Here you can bid on items and such</p>

</div>
<p>If i can see this then its updating right</p>
<div class="row">

</div>