
@{
    ViewBag.Title = "Index";
}

<h2>DMV Form</h2>

@Html.ActionLink("New Form", "New", "Request")
@Html.ActionLink("Current Forms", "Index", "Request")



data source = (LocalDB)\MSSQLLocalDB   attachdbfilename = 