@model IEnumerable<hw8.Models.Artist>
@{
    ViewBag.Title = "Artwork";
}


<h2 style="text-align:center">Data from Artists table:</h2>

<div class="btn-group">
    @Html.ActionLink("Create an Artist", "CreateArtist", "Home", null, new { @class = "btn btn-default" })
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArtistName)
        </th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistName)
            </td>
   
        </tr>

    }




</table>