@model IEnumerable<hw8.Models.ArtWork>
@{
    ViewBag.Title = "Artwork";
}


<h2 style="text-align:center">Data from Artworks table:</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
        </tr>
    }
</table>