@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>View some Art Koll</h1>
    <p class="lead">Here you can find information on artists and the work they have done <br />
    Click on the links above to navigate around the site!</p>
 
   
</div>

