@{
    ViewBag.Title = "Home";
}
<div class="page-header text-center">
    <h2>CHANGE OF ADDRESS NOTICE
FOR DMV RECORDS</h2>
</div>
<div class="container">

            @Html.ActionLink("Create new Form", "Create", "Forms", null, new { @class = "btn btn-default" })
            @Html.ActionLink("All forms", "Index", "Forms", null, new { @class = "btn btn-default" })
      
</div>
