
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
       @ViewBag.Greeting Koll. You're making stuff work!
        <br/>
        RSVP Things
        @Html.ActionLink("RSVP Now", "RsvpForm")

    </div>
</body>
</html>
