
@{
    ViewBag.Title = "macros";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Macros</title>
</head>
<body>
    <div> 


        <form method="post">
            <label for="name">Your name</label>
            <input type="text" name="name" value="" /><br />
            <label for="age">Your age</label>
            <input type="number" name="age" value="" /><br />
            <label for="weight">Your weight</label>
            <input type="number" name="weight" value="" /><br />
            <label for="gender">Your gender (male / female)</label>
            <input type="text" name="gender" value="" /><br />
            <input type="submit" name="submit" value="Submit" /><br />
        </form>
        <h3>@ViewBag.caloriesToEat</h3>
    </div>
</body>
</html>
