@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <style>
        body {
            background-color: #4cff00;
        }
    </style>
    <title>Thanks</title>
</head>
<body>
   
    <div class="text-center">
        
        <h1>Thank you, @Model.Name!</h1>
        <div class="lead">

            @if (Model.WillAttend == true)
            {
                @:See you there!
            }
            else
            {
                @:Maybe next time
             }
            </div>
        </div>

</body>
</html>
