@{
    ViewBag.Title = "REGINALDS";
}

<div class="jumbotron">
    <h1>Reginald's Ancient Antiquities Auction House</h1>
    <p class="lead">Here you can bid on items and such</p>
</div>

<div class="row">
       
</div>