body {
	background-color: blue;
	color: blue;
	table: white;
}

.pic1 {
 text-align: center;
 padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}


.cooking1{
	color: blue;
	text-align: left;
}


.cooking2{
	
	color: blue;
	text-align: left;
}


.contact {
	text-align: left;
}